#principal-body{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  height: 50rem;
}

.columns{
  width: 100px;
  height: 100%;
  background-color: blue;
}

#big-column{
  margin-left: -1200px;
  width: 10px;
}

#photos-contaitor{
  display: flex;
}

.photos{
  margin: 10px;
  border: 5px solid black;
}