#principal-body{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  background-color: wheat;
  height: 50rem;
}

.columns{
  width: 100px;
  height: 100%;
  background-color: blue;
}

#big-column{
  margin-left: -1200px;
  width: 10px;
}